<p-toast></p-toast>

<div class="card">
  <p-table
    #dt
    [rows]="10"
    [value]="candidates"
    [columns]="cols"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between caption_margin">
        <h5 class="center">Candidates</h5>
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-success p-button-raised p-button-rounded topright"
          (click)="openNew()"
        ></button>
      </div>
    </ng-template>
    <ng-template
      pTemplate="header"
      let-columns
    >
      <tr>
        <th
          *ngFor="let col of columns"
          [style]="{ 'width': col.minWidth }"
        >
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-candidat
      let-columns="columns"
    >
      <tr>
        <td
          *ngFor="let col of columns"
          [style]="{ 'width': col.minWidth }"
        >
          {{candidat[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="candidatDialog"
  [style]="{width: '450px'}"
  header="Candidat Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="candidat.name"
        autofocus
      >
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      [disabled]="!candidat.name"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveCandidat()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
