.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.padding30 {
  padding-left: 30px;
}
